.p-button {
    font-family: inherit;
    font-size: 1rem;
}

.p-tabview-title {
    font-size: 0.9rem;
}

.p-select-overlay {
    font-family: "Brown", sans-serif !important;
    z-index: 100000 !important;
    font-size: 0.8rem;
}

.p-dropdown-label {
    font-family: "Brown", sans-serif !important;
    font-size: 0.8rem;
}

.p-tab {
    font-family: "Brown", sans-serif !important;
    font-size: 0.8rem;
}